*{
    margin: 0;
    padding: 0;
    color: black;
}

.sectiongrid{
    background: #f7f7f7;
    display: grid;
    gap: 0px;
    padding-top: 60px;
    justify-items: center;
    height: auto;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    gap: 60px;
    text-align: center;
    position: relative;
    padding-bottom: 60px;
}
.detalhemenu{
    width: 300px;
    height: 4px;
    display: inline-block;
    background-color: black;
    position: absolute;
    top: 400px;
    right: 149px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: ;
    justify-content: center;
}
.menu a{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    padding: 15px 30px;
}
.meio{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    justify-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.meio a{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.meio img{
    width: 100%;
    display: block;
    height: 100%;
}
.meiotexto{
    background-color: white;
    padding: 30px 30px 0 30px;
    grid-column: 2;
}
.meiotexto h1{
    color:  ;
    text-align: start;
    font-size: 50px;
    padding-bottom: 150px;
}
.meiotexto a{
    background-color: rgb(236, 220, 236);
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}
.item{
    display: grid;
    gap: 10px 20px;
    padding: 20px;
    grid-template-columns: auto 1fr;
}
.item img{
    max-width: 30px;
    height: 30px;
    grid-column: 1;
}
.item h2{
    grid-column: 2;
}
.meiotexto p{
    font-size: 20px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.orientaçoes{
    position: relative;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mapa img{
    width: 100%;
    display: block;
    height: 80%;
    margin-top: 30px;
    border-radius: 10px;
    justify-self: end;
}
.local{
    text-align: start;
    padding: 60px 0 0 30px;
    grid-column: 2;
    font-family: Arial, Helvetica, sans-serif;
}
.local a{
    background-color: rgb(236, 220, 236);
    padding:15px 20px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
}
.local h1{
    font-size: 25px;
    padding-bottom: 20px;
}
.local h2{
    padding-bottom: 30px;
}
.local h3{
    padding-bottom: 20px;
}
.local span{
    color: rgb(170, 167, 167)
}
.detalheorientaçoes{
    background-color: black;
    width: 300px;
    height: 4px;
    position: absolute;
    display: inline-block;
    top: 100px;
}

.matricula{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    text-align: center;
    width: 80%;
    background-color: white;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.aulas1{
    padding: 10px;
    font-size: 25px;
    border: 1px solid  black;
    border-radius: 5px;
}
.aulas2{
    padding: 10px;
    font-size: 25px;
    border: 1px solid  black;
    border-radius: 5px;
    grid-column: 2 ;
}
.aulas3{
    padding: 10px;
    font-size: 25px;
    border: 1px solid  black;
    border-radius: 5px;
    grid-column: 3;
}
.matricula a{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(236, 220, 236);
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.contatotexto{
    margin: 60px 0;
    font-size: 40px;
}
.contato{
    display: grid;
    grid-template-columns: 1fr  1fr;
    width: 80%;
    margin-bottom: 50px;
}

.form input[type=text],
.form input[type=email]{
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
    padding-left: 10px;
    display: block;
    margin-left: 30px;
    max-width: 1000px;
    width: 80%;
    height: 50px;
    border: 1px solid #ccc;
}
.form textarea{
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    display: block;
    border-radius: 15px;
    margin-left: 30px;
    font-size: 20px;
    max-width: 1000px;
    width: 80%;
    height: 220px;
}
.form h2{
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.form input[type=submit]{
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    border-radius: 5px;
    margin: 10px 0 10px 30px;
    font-size: 20px;
    max-width: 1000px;
    width: auto;
    height: 50px;
    text-align: start;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 600;
    background-color: rgb(236, 220, 236);
}

.endereço{
    padding-left: 100px;
}
.coluna2{
    text-align: start;
    padding-left: 150px;
    padding-top: 50px;
}
.endereco h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.endereco p{
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.endereco h3{
    font-size: 25px;
    background-color: rgb(236, 220, 236);
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer p{
    font-size: 30px;
    padding: 20px 0;
    width: 100%;
    background-color: rgb(141, 141, 160);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
